@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);


*{
    padding:0;
    margin:0;
    border:none;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight:300;
}

h1,h2,h3,h4,h5{
    font-weight: 200;
    font-family: 'Quicksand', sans-serif;
}

.intro{
    position:absolute; left:0; width:100%; min-height:100%;
    overflow: hidden;
    width:100%;
    background-color: white;
    z-index:1;
}

.line{
    width:100%;
    height:600px;
    background-image: url('../images/cutout.png');
    background-position: center;
    background-repeat: no-repeat;
}

.absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.intro-copy{
    text-align: left;
    font-size: 5em;
    text-transform: uppercase;
    color: #575656;
    line-height: 83px;
    letter-spacing: -6px;
    margin-top: 70px;
    padding-left:10px;
    width:384px;
    margin-left: auto;
    margin-right: auto;
}

.intro .info{
    width:100%;
    height:480px;
}

.intro-text-holder{
    display:none;
    width: 100%;
    height: 600px;
}

.fcb-office{
    margin-left: -100%;
    position: absolute;
    width:50%;
    height:100%;
    background-image:url('../images/fcb-offcie.jpg'); 
    background-position: center;
    background-size: cover;
}

.menu{
    width:100%;
    height:300px;
    position:absolute; left:0; width:100%; min-height:100%;
}

.menu-box{
    position: relative;
    width:100%;
    height:150px;
    background-position: center;
    background-size: cover;
    min-height:150px;
    cursor: pointer;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width:100%;
    height:100%;
}

.menu-box .holder{
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    width:100%;
}

.menu-line{
    height: 100%;
    float: left;
    margin-left:-87px;
}

.menu-title{
    line-height:0.8;
    font-weight: 900;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.4em;
    font-family: 'Source Code Pro';
}

.menu-copy{

}

.menu-copy p{
    color:#fff;
    font-family: 'Kreon', serif;
}

.expand{
    bottom: 0;
    position: absolute;
    right: 0;
}

.case-slide-in{
     -webkit-transition: 1s cubic-bezier(.30, .66, .07, 1);
    -moz-transition: 1s cubic-bezier(.30, .66, .07, 1);
    transition: 1s cubic-bezier(.30, .66, .07, 1);
    
    -webkit-transition-property: width, -webkit-transform;
    -moz-transition-property: width, -moz-transform;
    transition-property: width, transform;
    
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    transform:translateX(-100%);

}

.case-slide-out{
    -webkit-transition: 1s cubic-bezier(.30, .66, .07, 1);
    -moz-transition: 1s cubic-bezier(.30, .66, .07, 1);
    transition: 1s cubic-bezier(.30, .66, .07, 1);
    
    -webkit-transition-property: width, -webkit-transform;
    -moz-transition-property: width, -moz-transform;
    transition-property: width, transform;
    
    -webkit-transform:translateX(0%) !important;
    -moz-transform:translateX(0%) !important;
    transform:translateX(0%) !important;
}

#tab1{
    background-image: url('../images/tab-1.jpg');
}

#tab2{
    background-image: url('../images/k_4.jpg');
}

#tab3{
    background-image: url('../images/tab-3.jpg');
}

#tab4{
    background-image: url('../images/tab-4.jpg');
}

#tab1 .overlay{
    background-color: rgba(0,113,192,0.7);
}

#tab2 .overlay{
    background-color: rgba(10,124,68,0.7);
}

#tab3 .overlay{
    background-color: rgba(248,160,31,0.7);
}

#tab4 .overlay{
    background-color: rgba(227,60,35,0.7);
}

.full-stretch{
    max-width:100% !important;
    padding:0 !important;
    padding-top:60px !important;
}

.case-study{
    /*overflow: scroll;*/
    position:fixed; left:0; width:100%; min-height:100%;
    background-color: cyan;
    z-index:12;
    margin-left:100%;
    min-height:100%;
    background-position: center;
    background-size: cover;
}

.close-btn{
    width:20px;
    height:20px;
    position: absolute;
    padding: 20px;
    z-index:20;
    cursor: pointer;
}

.close-person-btn{
    display:none;
    width:20px;
    height:20px;
    position: absolute;
    padding: 20px;
    z-index:20;
    cursor: pointer;
}

.case-wrapper{
    padding: 60px;
    max-width: 692px;
    margin: 0 auto;
}

.case-title{
    text-transform: uppercase;
    font-size: 2.5em;
    color: #fff;
    font-weight: 100;
    float:left;
}

.case-sub-title{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.case-logo{
    float:right;
}

.case-image{
    padding-bottom:20px;
    max-width: 100%;
    width: 100%;
}

.case-wrapper p{
    font-family: 'Kreon', serif;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
}

table{
    color: white;
    font-family: 'Kreon', serif;
    font-size: 1.2em;
    margin-top: -18px;
}

.bx-wrapper{
    margin: 0 !important;
    margin-bottom: 60px !important;
}

.bx-wrapper img {
    width:100% !important;
}

.right-arrow{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 10px;
    position: relative;
    z-index:20;
    cursor: pointer;
}

.left-arrow{
    float: right;
    margin-top: 20px;
    position: relative;
    z-index: 20;
    cursor: pointer;
}

.loader{
    overflow: hidden;
    width:50px;
    height:50px;
    z-index:100;
    /*background-image: url('../images/fcb-loader.png');*/
}

.preload img{
    height:0px;
    width:0px;
}

.team{
    width:100%;
    height:460px;
}

.person{
    height:100%;
    width:16.666%;
    float:left;
    overflow: hidden;
    position: relative;
    background-image: url('../images/person-bg.jpg');
    background-repeat: repeat-x;
}

.person-photo{
    position: absolute;
}

.person h2, p{
    position: relative;
    color:#fff;
}

.person-name{
    font-family: 'Source Code Pro';
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom:20px;
}

.person-holder{
    height:100%;
    width:100%;
    /*max-width:1024px;*/
    position: relative;
    z-index:19;
}

.person-title{
    font-family: 'Kreon', serif;
    font-size: 0.8em !important;
    padding-top: 10px;
}

.person-content{
    float: left;
    /*background-color: rgba(7, 182, 140, 0.6);*/
    height: 100%;
    width: 175px;
}

.bio-holder{
    /*background-color: rgba(182, 7, 135, 0.6);*/
    height: 100%;
    width: 100%;
    float: left;
    position: absolute;
}

.person .overlay{
    z-index:15;
}

.person-bio{
    width: 212px;
    height: 100%;
    position: relative;
    z-index: 18;
    padding-top: 20px;
    float: left;
    margin: 0 auto;
    max-width: 970px;
    padding-right:15px;
}

.person-bio .person-name{
    padding-bottom:10px;
}

.second{
    padding-right:40px !important;
}

.first{
    padding-left: 160px !important;
}

.quote{
    font-weight: 800 !important;
    font-size: 1.6em !important;
    line-height: 29px !important;
} 

.right{
    right:0;
}

li{
    font-family: 'Kreon', serif;
    font-size: 1.2em;
    line-height: 1.5;
}

.case_dot{
    margin: 0 0 0 40px;
    color: white;
    font-family: 'Kreon', serif;
    line-height: 2;
    font-size: 1.1em;
    padding-top:20px;
}

.callout{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.questions{
    font-size: 2em !important;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 8px;
}

 .bx-wrapper {
        clear:both;
    }

.name-holder{
    position: absolute;
    bottom:0;
    padding:30px;
    min-width:175px;
}

.bio-frame{
    height: auto;
    max-width: 984px;
    margin: 0 auto;
    padding-left: 175px
}

.bio-wrapper{
    padding-left:20px;
    padding-right:20px;
}

.bio-box{
    float:left;
    width:33.333%;
    height:auto;
    min-width: 250px;
   /* background-color: rgba(255,0,0,0.5);*/
}

.person-desc{
    font-family: 'Kreon', serif;
    font-size: 0.8em !important;
    padding-top: 10px;
}

.bio-wrapper .person-title{
    padding-top:0 !important;
}

.bio-wrapper img{
    max-width:100%;
}

@-moz-document url-prefix() {
    .person-photo {
        left:0px !important;
    }
}

@media only screen and (max-width: 400px) {

}

@media only screen and (max-width: 1024px) {
    .person{
        width:100%;
    }
}

@media screen and (max-width: 860px) {
    .person-bio{
        width:40% !important;   
    }
}

@media screen and (max-width: 500px) {
    .case-logo{
        display:none;
    }
    .menu-title{
        width:90%;
    }
    .first{
        padding-left:130px !important;
    }
}

@media only screen and (max-width: 1023px) {
    .bio-box{
        width:50% !important;
    }
    #person-box3{
        display:none;
    }
}
@media only screen and (max-width: 680px) {
    .bio-box{
        width:100% !important;
    }
    #person-box2{
        display:none;
    }
    .person-desc{
        font-size:0.9em !important;
    }
    .person-title{
        font-size:0.9em !important;
    }
}
@media only screen and (max-width: 480px) {
    .bio-box{
        display:none;
    }
    .person-name{
        font-size:3em !important;
    }
    .person-title{
        font-size:1.1em !important;
    }
}
@media only screen and (max-width: 767px) {
    .case-wrapper{
        padding:15px;
    }
    .case-title, .case-logo{
        padding-top:40px;
    }
    .intro-copy{
        font-size:4em;
        margin-top:60px;
    }
    .line{
        
    }
    .fcb-office{
        width:100% !important;
        z-index:10;
    }
    .menu-copy p{
        display:none;
    }
}