<h2 class="case-title">Brand: Coors Light</h2>
<img class="case-logo" src="images/Coors-Light.png" alt="logo"/>
<p class="case-sub-title"></p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/OZFPUSd4SNc?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 5</p>
<p class="callout">As outlined, television is the core medium for Capital One and we would like you to send us your best television creative work by web link. We are particularly interested in television work that changed consumer attitudes and built Brand Equity. Please outline the consumer insights that lead to the television advertising and describe the results.</p><br/>
<p><b>What’s suppressing our potential</b>:  Our product point of difference “Rocky Mountain refreshment” has lost its edge with young drinkers, we’ve become a low awareness  ‘style’ beer for older drinkers.<br/><br/>

<b>Insight</b>:   Rocky mountain heritage is still powerful but rather than talking about it, we need to do something to bring the cold, crisp, clean associations to life in the product experience.<br/><br/>
<b>Strategic Idea</b>:  Own ‘Cold’ <br/><br/>

<b>Results</b>:</p>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        Over a five year period, brand awareness grew from 24% to 43.3%
    </li>
    <li>
        Brand volume grew by 77%
    </li>
    <li>
        Share amongst 19-24 drinkers increased from 5.1% to 9.3%
    </li>
</ul>
</p>