<h2 class="case-title">Dow Chemical</h2>
<img class="case-logo" src="images/dow-logo.png" alt="logo"/>
<p class="case-sub-title"></p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/b9f1KXbWkLo" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 5</p>
<p class="callout">As outlined, television is the core medium for Capital One and we would like you to send us your best television creative work by web link. We are particularly interested in television work that changed consumer attitudes and built Brand Equity. Please outline the consumer insights that lead to the television advertising and describe the results.</p><br/>
<p><b>What’s suppressing our potential</b>: Dow is seen as a faceless, old-fashioned chemical company which is hindering the growth of its many innovative science-based companies.</p><br/>

<p><b>Insight</b>: Dow is a problem solving company, but the problems it solves are not just technical or scientific, they also have positive human outcomes.</p><br/>

<p><b>Strategic Idea</b>: When science and humanity come together, almost any problem can be solved.</p><br/>

<p><b>Results</b>:</p>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        Brand familiarity increased by 75%
    </li>
    <li>
        Brand equity (as a distinctive and reputable company) increased by 34%
    </li>
</ul>