<h2 class="case-title">K-Mart</h2>
<img class="case-logo" src="images/kmart-logo.png" alt="logo"/>
<p class="case-sub-title">Case Study #1 – Creating Cultural Relevance, Again</p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/5bu6rhGSXdM?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li>
        <iframe src="//www.youtube.com/embed/3SLk54kx4-k?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li>
        <iframe src="//www.youtube.com/embed/_Kcyz3MKPHU?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 8</p>
<p class="callout">Please describe a few Case Studies where your work achieved significant success in rebranding and/or consumer motivation and attitude change. Provide Case Studies where you demonstrate innovation, new thinking and the ability to strengthen and build Brand Equity. Outline the strategic thinking and consumer insight that informed the creative and media direction and describe the results. Please limit each Case Study to one page through a web link.</p><br/>

<p><i>Success in rebranding and/or consumer motivation and attitude change</i><br/><br/>
<b>[This is work Jon Flannery our chief creative officer directly conceptualized and developed]</b>
<br/><br/>
<span class="case-header" style="text-transform: uppercase;font-weight: bold;">Background / Challenge</span> 
<br/><br/>
While Kmart had been the king of discount retail, those days were long past.  Competitors not only outspent Kmart by a margin of 4 to 1, but also offered customers a clear point of difference and an enhanced, unique experience.  Furthermore, Kmart’s brand identity was all but obsolete, with its reputation having reverted to out-of-touch and outdated – and sales reflected this perception. Kmart needed to become an iconic and culturally relevant brand (again). 
<br/><br/>
Kmart needed to establish a deep connection between its target audience, and that audience was the “New America” – a young, edgy, urban, diverse, and financially challenged sector that was not only looking for a brand that shared its sentiments, but also was deeply engrossed (and controlled) the social media conversation.  By tapping into and engaging this demographic, Kmart could gain new customers while maintaining their already-existing consumer base.
<br/><br/>
<span class="case-header" style="text-transform: uppercase;font-weight: bold;">Approach</span>
<br/><br/>
Kmart developed a series of viral, edgy, and clever digital ads: beginning with “Ship My Pants” (store-to-home shipping service), then following with “Big Gas Savings,” (gas promotions), “My Limo/Yo Momma” (back to school retail), and “Show Your Joe” (holiday promotional material for Joe Boxer).  Low-budget and almost exclusively confined to online media, the ads rebranded Kmart from a stale American relic to a boundary-pushing, witty, and hip retail option.
<br/><br/>
<span class="case-header" style="text-transform: uppercase;font-weight: bold;">Results</span>
<br/><br/>
Each product or deal promoted reaped significant business results: Store-to-home shipping transactions increased by 50%; gas sales increased by 5.9%; kids’ apparel sales increased by 8%; and Joe Boxer sales increased by 40%.  The cumulative effort of each viral campaign netted Kmart over 70 million digital views, making Kmart the #1 most viral retailer on the planet (via Mashable).
</p>