<h2 class="case-title">Brand: Kmart</h2>
<img class="case-logo" src="images/kmart-logo.png" alt="logo"/>
<p class="case-sub-title"></p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/5bu6rhGSXdM?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li>
        <iframe src="//www.youtube.com/embed/3SLk54kx4-k?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li>
        <iframe src="//www.youtube.com/embed/_Kcyz3MKPHU?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 5</p>
<p class="callout">As outlined, television is the core medium for Capital One and we would like you to send us your best television creative work by web link. We are particularly interested in television work that changed consumer attitudes and built Brand Equity. Please outline the consumer insights that lead to the television advertising and describe the results.</p><br/>

<p><b>What’s suppressing our potential</b>:  People have made up their minds about Kmart and the only news they listen to is the bad news that reinforces their perceptions. Value conscious shoppers are no longer considering Kmart.<br/><br/>
    
<p><b>Insight</b>: If we can change the conversation, people will reconsider the brand and if they reconsider the brand they’ll have to reconsider the store.</p><br/>

<p><b>Strategic Idea</b>: Take a widely accepted criticism of the store (that it is often out of stock) and address it in a way that is completely counter to the accepted Kmart brand behaviour. </p><br/>

<p><b>Results</b>:</p>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        Store-to-home shipping transactions increased by 50% year-on-year.
    </li>
    <li>
        70 million digital views, making Kmart “the #1 most viral retailer on the planet” (via Mashable)
    </li>
</ul>