<h2 class="case-title">Creative Campaign 2</h2>
<img class="case-logo" src="images/Kraft.png" alt="logo"/>
<p class="case-sub-title">Kraft – Changing perception to drive category growth</p>
<ul class="bxslider">
    
    <li><img src="./images/kraft_1.jpg" /></li>
    <li><img src="./images/kraft_2.jpg" /></li>
    <li><img src="./images/kraft_3.jpg" /></li>
    <li><img src="./images/kraft_4.jpg" /></li>
    <li><img src="./images/kraft_5.jpg" /></li>
    <li><img src="./images/kraft_6.jpg" /></li>
    <li>
        <iframe src="//www.youtube.com/embed/q84WbECEJU0?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 4</p>
<p class="callout">Please include 2 to 3 examples of your best integrated creative campaigns through a web link. We are particularly interested in creative that was developed to re-launch a brand and/or bring a client’s mission to life and change consumer attitudes. Where possible, also describe the results from the creative work in terms of attitude change and business results. Please ensure that your creative work submission focuses on integrated campaigns across a number of customer touch points.</p><br/>
<p><span class="case_header" style="text-transform: uppercase;font-weight: bold;">Background/Challenge</span><br/><br/>

The Shredded Cheese category sits at a premium price point vs. block cheese, but deep discounting of block cheese further widens the price gap. Our marketing challenge was to convince our core target (moms) to stop shredding her own block of cheese, and buy pre-shredded cheese, something she sees as expensive and unnecessary.<br/><br/>   

We decided to change this deeply entrenched behaviour by focusing on the key point of difference of Kraft Shredded Cheese: unique cheese blends that couldn’t be replicated at home by shredding individual blocks of different cheeses.<br/><br/>

The objective was to drive awareness and get more people, including elusive non-users, to try the blend, taste the difference and stop shredding cheese at home.  In addition, we recognized the need to give Kraft Shredded Cheese a social, playful voice to counter the boring, traditional communication typical of the category.<br/><br/>

<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Approach</span><br/><br/>

We were launching a series of new blends, including ‘Habenero Heat’.  We knew that Canadians find spicy food polarizing and there was probably a more ‘mainstream’ blend in the mix we could focus on.  But we needed to be bold to make a point.  We decided to leverage the power of ‘heat’ knowing that the specific product would not appeal to everyone, but would get noticed and elevate the entire portfolio thereby generating interest in the other blends.<br/><br/>

To leverage the idea of ‘heat’ believably for the non-user, we knew we needed a credible expert. 
We found one: The Devil.  This demon was selected as the best one to deliver our story that Kraft Habenero Heat Shredded Cheese was ‘Hot-As-You-Know-What’.<br/><br/>

We knew that this sinful approach could alienate some of our all-family consumers, but we also knew that this was a risk we needed to take.  Sure, using the Devil and buying people’s souls might be a little polarizing, but when executed with humour we knew we could get our non-user to take notice, and take action.<br/><br/>

TV introduced our heat expert, The Devil, sampling nachos at a grocery store to a clueless couple.  Outtakes were then uploaded to YouTube for viewers looking for Beelzebub banter.  Digital and Social Media added fiery dimension to our conversion campaign, with our Dark Overlord presiding over two digital promotions on a hell-inspired microsite.<br/><br/>  

<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Results</span><br/><br/>

In testing we found that TV significantly drove purchase intent (25% lift), prompted recall (66% vs. norm of 48%) and likeability (79%).  The digital campaign drove 140M impressions, 400K YouTube video views, 225K unique visitors to the site and 36K contest entries (49% Opt In).<br/><br/>

Most importantly, sales volume also exceeded expectations and grew by 130%, with 22% of Habanero Heat’s volume incremental to the shredded cheese category.  We also saw lifts not just in this particular SKU, but in other variants that had a unique blend.<br/><br/>

</p>