<h2 class="case-title">Brand: Kraft Habanero</h2>
<img class="case-logo" src="images/Kraft.png" alt="logo"/>
<p class="case-sub-title"></p>
<ul class="bxslider">

    <li>
        <iframe src="//www.youtube.com/embed/q84WbECEJU0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 5</p>
<p class="callout">As outlined, television is the core medium for Capital One and we would like you to send us your best television creative work by web link. We are particularly interested in television work that changed consumer attitudes and built Brand Equity. Please outline the consumer insights that lead to the television advertising and describe the results.</p><br/>
<p><b>What’s suppressing our potential</b>:  Consumers are choosing packaged cheese based on generic descriptions rather than according to brand – Kraft needs to support its entire range of pre-packaged cheese on a limited ad budget.
<br/><br/>
<b>Insight</b>:  Consumers have difficulty telling one cheddar or Tex-Mex mix from another but Kraft Habanero is a truly unique spicy cheese that can drive perceptions of the Kraft brand as a whole.
<br/><br/>
<b>Strategic Idea</b>: Kraft Habanero is hot as hell.<br/><br/>
<b>Results</b>:
</p><br/>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        66% Prompted recall of the spot 
    </li>
    <li>
        79% Spot likability
    </li>
    <li>
        Dollar growth across the range increased +3.9% 
    </li>
    
</ul>