<h2 class="case-title">Oreo</h2>
<img class="case-logo" src="images/oreo.png" alt="logo"/>
<p class="case-sub-title">Case Study &#35;2 – Leveraging a Global Platform and Driving Relevance in Canada</p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/i8aNlu_f_uI?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li>
        <iframe src="//www.youtube.com/embed/VLHCuZ8ipsk?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li><img src="./images/oreo_1.jpg" /></li>
    <li><img src="./images/oreo_2.jpg" /></li>
    <li><img src="./images/oreo_3.jpg" /></li>
    <li><img src="./images/oreo_4.jpg" /></li>
    <li><img src="./images/oreo_5.jpg" /></li>
    
</ul>
<p class="questions">Question 8</p>
<p class="callout">Please describe a few Case Studies where your work achieved significant success in rebranding and/or consumer motivation and attitude change. Provide Case Studies where you demonstrate innovation, new thinking and the ability to strengthen and build Brand Equity. Outline the strategic thinking and consumer insight that informed the creative and media direction and describe the results. Please limit each Case Study to one page through a web link.</p><br/>
<p><i>Provide Case Studies where you demonstrate innovation, new thinking and the ability to strengthen and build Brand Equity.</i></p><br><br>

<p><span class="case_header" style="text-transform: uppercase;font-weight: bold;">Background / Challenge</span>
<br><br>
After years of “twist, lick and dunk”, Oreo wanted to stand for something less functional and be more emotional – to be about possibility and optimism. “Wonderfilled” was the first step in that direction; our way to reboot a cookie and connect folks to their sense of awe in a cynical world. As our new global platform, it was well received.
<br><br>
But cookies in Canada are a pretty tough business. Moms are a little more sugar sensitive, shop sales and the category is highly competitive, with well-established private-label competition. We had to get moms past Oreo’s premium price, and connect in a more relevant and personal way – to be more Canadian. 
<br><br>
In doing so, we needed to have mom feel more open to Oreo in the cookie aisle; to buy out of love, shop sales less, and to buy one more pack of Oreo cookies – equating to a 6.8% volume growth for 2014. That’s a lofty objective for a mature brand in a flat category.
<br><br>
<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Approach</span>
<br><br>
So, we harnessed the world’s most patriotic event, the Olympics, when national pride is at its highest – as the perfect time to showcase a uniquely Canadian “Wonderfilled,” expressed in real time moments and with daily connections.
Canadians want to celebrate and share the moments they are proud of. They cherish small smiles, global moments as well as celebrating patriotic wins against large neighbours. Oreo had an opportunity to be a part of these very special Canadian moments, using real-time marketing, culture jacking or even the Oreo moment to bring genuine presence and immediacy to the shared experience. 
<br><br>
We knew that by relating to an audience, we would gain permission to talk about the cookie and then earn the right to sell. 
<br><br>
Those messages? To remind Canadians to look at our world in the here and now, with open eyes and a curious heart, and to wonder. In many ways, a representation of what “Wonderfilled” is about, or, said simply:</p>
<br><br>
<p class="case_center" style="text-align:center;font-weight: bold;">“THE OLYMPIC SPIRIT IS WONDERFILLED”</p>
<br><br>
<p>Our campaign launched during the opening ceremonies, across multiple channels with digital as a series of planned daily connectors, driving inspiration for moms to express their wonderfill and be inspired to take action.
<br><br>  
Wonderfilled content was divided into three categories, and focused on:</p>
<br><br>


<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        PROMOTIONAL: content with a focus on download of the Pride & Joy app and a drive to purchase the limited-edition cookie.
    </li>
    <li>
        RESPONSIVE: content reacting to events live, as they unfolded. (Opening Ceremonies, #GilforFlagBearer)
    </li>
    <li>
        CONVERSATIONAL: content leveraging insights gleaned from trends and social listening around the Games. (#SochiSelfie, #Beardmode)
    </li>
</ul>

<br><br>
<p>
Daily connections continued through video content on pre-roll where the
Canadian spirit came to life with a story about a medalist wondering how
she would encourage her younger self
<br><br>
On Twitter: With the launch of Twitter’s narrowcasting (geo targeting messages ) we were the first brand in Canada to use a global asset to drive local conversation, transforming @Oreo into an outlet for patriotic pride.
<br><br>
Brand Website:  The hub for all our Olympic content resided on oreowonderfilled.ca, where Canadians could download the “Pride & Joy” mobile app, win prizes and be Wonderfilled with Canadian pride. 
<br><br>
<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Results</span>
<br><br>
Revenue growth of +16.3% YOY in just three weeks (vs. our 6.8% annual target) and +1.1 points in share growth, with sustained strong gains post-Sochi.
<br><br>
We changed minds:</p>
<table style="color:white;">
    <tr>
        <td>
            <span class="case_dot" style="margin:0 20px 0 20px;position:relative;bottom:3px;">-</span>
        </td>
        <td>
            21% increase in unaided awareness YOY
        </td>
    </tr>
    <tr>
        <td>
            <span class="case_dot" style="margin:0 20px 0 20px;position:relative;bottom:3px;">-</span>
        </td>
        <td>
            4% increase in purchase intent YOY
        </td>
    </tr>
    <tr>
        <td>
            <span class="case_dot" style="margin:0 20px 0 20px;position:relative;bottom:3px;">-</span>
        </td>
        <td>
            +21 increase in value (worth paying more for)
        </td>
    </tr>
</table>

<br><br>
<p>We won the Twitter Olympics:<br/>  
Oreo toppled all of Twitter’s engagement benchmarks, including cost per engagement and follower rates.  
<table style="color:white;">
    <tr>
        <td>
            <span class="case_dot" style="margin:0 20px 0 20px;position:relative;bottom:3px;">-</span>
        </td>
        <td>
            Outperformed historical @Oreo benchmarks each day for entire Olympics
        </td>
    </tr>
    <tr>
        <td>
            <span class="case_dot" style="margin:0 20px 0 20px;position:relative;bottom:3px;">-</span>
        </td>
        <td>
            16M impressions and a 10K follower increase in 3 weeks
        </td>
    </tr>
    <tr>
        <td>
            <span class="case_dot" style="margin:0 20px 0 20px;position:relative;bottom:3px;">-</span>
        </td>
        <td>
            Breakthrough engagement: 1 in 4 top tweet viewers took action (24.2% engagement vs. 6% industry norm)
        </td>
    </tr>
</table>
</p>