<h2 class="case-title">Pet Protection</h2>
<img class="case-logo" src="images/pet_logo.png" alt="logo"/>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/cfqiUx2W_h4?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 5</p>
<p class="callout">
As outlined, television is the core medium for Capital One and we would like you to send us your best television creative work by web link. We are particularly interested in television work that changed consumer attitudes and built Brand Equity. Please outline the consumer insights that lead to the television advertising and describe the results.
</p><br/>

<p><b>What’s suppressing our potential</b>: Too many animals have to be euthanized because there are not enough pet adopters.</p><br/><br/>

<p><b>Insight</b>: Because people tend to think of new pets as children, they prefer cute puppies and kittens to the more mature animals you find at a shelter, yet the relationship is most rewarding when the pet is older and has developed a unique personality.</p><br/>


<p><b>Strategic idea</b>: Grown up pets are more interesting companions.
</p><br/>

<p><b>Results</b>:</p>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        60,000+ unique visitors to www.theshelterpetproject.org. 
    </li>
    <li>
        2,500 new sign-ups to the pet adoption movement 
    </li>
</ul>