<h2 class="case-title">Sunlife</h2>
<img class="case-logo" src="images/sunlife.png" alt="logo"/>
<p class="case-sub-title">Case Study #3 – Driving lead generation through Digital</p>
<ul class="bxslider">
    <li><img src="./images/sl_1.jpg" /></li>
    <li><img src="./images/sl_2.jpg" /></li>
    <li><img src="./images/sl_3.jpg" /></li>
    <li><img src="./images/sl_4.jpg" /></li>
    <li><img src="./images/sl_5.jpg" /></li>
    <li><img src="./images/sl_6.jpg" /></li>
    <li><img src="./images/sl_7.jpg" /></li>
    <li><img src="./images/sl_8.jpg" /></li>
</ul>
<p class="questions">Question 8</p>
<p class="callout">Please describe a few Case Studies where your work achieved significant success in rebranding and/or consumer motivation and attitude change. Provide Case Studies where you demonstrate innovation, new thinking and the ability to strengthen and build Brand Equity. Outline the strategic thinking and consumer insight that informed the creative and media direction and describe the results. Please limit each Case Study to one page through a web link.</p><br/>
<p><i>Outline the strategic thinking and consumer insight that informed the creative and media direction and describe the results.</i><br><br>

<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Background / Challenge</span> <br/><br/>

In a category over run by fear based message on saving now for your future, Sun Life Financial sought to change the conversation and inspire action through their aspirational platform, Money For Life.<br/><br/>
The category with its wide range of complex insurance and wealth management products required a simplification of benefits for consumers, and for Sun Life driving relevance resulted in providing lead generation support to a large outbound sales force of advisors. A major initiative for Sun Life Financial the relaunch of “Money For Life” with a digitally-centred engagement strategy, focusing on lead capture (defined as delivering a prospect to Sun Life’s network of advisors across Canada).<br/><br/>
<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Strategic Thinking and Consumer Insight</span><br/><br/>

Digital represented a critical driver for lead generation for Sun Life’s national advisor network. To meaningfully connect prospects to Sun Life’s advisors we conducted extensive monitoring  of social conversation volume and sentiment, probed deeply through third-party research to uncover two critical behaviours that drive action. One, prospective consumers need the process to feel non-threatening. Two, people needed options and absolute clarity on what action to take next.<br/><br/>
We then performed an audit of information sources, finding that our prospects spent significant time consumer online Financial Services content and sharing relevant information on social. In addition, corporate Financial Services sites provided relevance and credibility, while third party sites offered objectivity.<br/><br/>
<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Approach</span><br/><br/>

To capture these prospects across so many touchpoints, we developed an integrated program that surrounds our digitally active 35–45 year old target with contextual experiences that matter to them, including display advertising that intrigued with the idea of Money For Life. After deploying multiple headlines and CTAs in market, only the best performing (based on conversion) display ads remained.
Our display and social drove to a new digital site experience, designed from the ground up to efficiently drive lead conversion. The site experience integrated with other online and offline communications including brochures, posters, toolkits, etc.,  all integrated to create a user experience that:<br/><br/>
1.  Defined what Money for Life meant in tangible terms <br/><br/>
2.  Broke down site content by life stage with actionable steps <br/><br/>
3.  Offered clear calls to connect with an advisor <br/><br/>
4.  Mix of text and visual appeal to feel inviting to a wide audience <br/><br/>
5.  Mobile and tablet optimized<br/><br/>
In order to deliver this integrated experience</p><br/>

<ol class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        We built in integration with the existing advisor match tool engine
    </li>
    <li>
        We created an IA approved by the clients tech team – including clear objectives of the role of the site and each page
    </li>
    <li>
        CWe developed wireframes to plot out the content
    </li>
    <li>
        We positioned content with the most critical function higher and more prominently within the experience 
    </li>
</ol>
<br/>

 
<p><span class="case_header" style="text-transform: uppercase;font-weight: bold;">Results</span><br/><br/>

We awakened Canadians inertia to financial planning and made Sun Life Financial an emerging leader in the category. The most important metric, digital leads are the highest in Sun Life’s history.<br/><br/>
</p>