<h2 class="case-title">Creative Campaign 1</h2>
<img class="case-logo" src="images/TDlogo.png" alt="logo"/>
<p class="case-sub-title">TD – Make Banking Comfortable</p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/WevnVWgYl3k?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li>
        <iframe src="//www.youtube.com/embed/Y--ciP31jtg?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
    <li><img src="./images/td2.jpg" /></li>
    <li><img src="./images/td_5.jpg" /></li>
    <li><img src="./images/td_6.jpg" /></li>    
</ul>
<p class="questions">Question 4</p>
<p class="callout">Please include 2 to 3 examples of your best integrated creative campaigns through a web link. We are particularly interested in creative that was developed to re-launch a brand and/or bring a client’s mission to life and change consumer attitudes. Where possible, also describe the results from the creative work in terms of attitude change and business results. Please ensure that your creative work submission focuses on integrated campaigns across a number of customer touch points.</p><br/>

<p>
<p><span class="case_header" style="text-transform: uppercase;font-weight: bold;">Background/Challenge</span><br/><br/>

In a sea of self-serving category sameness, TD Canada Trust had been launched with the mission to ‘make banking comfortable’ through initiatives like longer hours, paperless banking and personalized service.  Quick to copy, competitors had started to dilute TD Canada Trust’s leadership with consumers. <br/><br/>

To address this, and to meet the evolving needs of consumers beyond convenience, TD focused on initiatives like No Appointment Necessary, Sunday banking, Mobile Mortgage Specialists, and Mortgage vacation.  What they needed was to build awareness and brand linkage for all the other great things they were doing to ‘make banking comfortable’, to show that TD was adapting to consumer needs by ‘working around their lives’ (unlike the other banks).<br/><br/>

<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Approach</span><br/><br/>

Most ‘service’ categories had evolved to reflect consumers’ lifestyles and needs.  You could have groceries delivered to your door; or have your burger your way; or choose a cell phone plan that was right for you, or consume media on your terms.  Banking however was stuck in the past.  They had rules your were forced to live by.  ‘Bankers Hours’ were by definition not ‘Your Hours’.  It was no wonder that Canadians loved to hate banks.<br/><br/> 

We knew that TD Canada Trust was viewed as the exception, and seen in a more positive light than the others.  And while the competition was trying to catch up, we needed to find a way to distinguish ourselves from them and reposition them as being stuck in the past, stodgy and self-serving.<br/><br/> 

The creative idea was to juxtapose the kind of service one could expect from TD Canada Trust with what one might have traditionally expected from a bank.  We chose a couple of unlikely spokespersons – two senior citizens.  Resistant to change, they were suspicious of innovation. The ‘good old days’ is whatever age you grew up in, and complaining about its passing is the right of every senior citizen.  The ‘Grumpy Old Men’ as they affectionately became known as, would allow us to be implicitly competitive while still retaining the folksy charm of the TD Canada Trust brand.  Stuck in the past, they would represent the ‘old way’ – the traditional view of banks, their service levels and their attitudes towards consumers juxtaposed with TD Canada Trust’s ‘new way’ view of the world.<br/><br/>  

They starred in all the brand advertising (television and online) to drive awareness and distinction.  The product campaigns were consciously designed to not use them to create some separation and be more ‘hard hitting’ and retail focused.  The green chair, our folksy tone, and our strong visual identity allowed us to go to market with consistency.<br/><br/>

<span class="case_header" style="text-transform: uppercase;font-weight: bold;">Results</span><br/><br/>

The campaign struck a powerful chord and become one of the most successful, talked about campaigns in their history, and arguably Canadian banking history.  In a category that was often ignored by consumers, we had re-positioned the competition as ‘old and dated’ while presenting TD Canada Trust as being progressive and consumer focused.  It was spoofed in ‘This hour has 22 minutes’ and has become a part of pop culture.  Consumers clearly saw TD Canada Trust is different/better than the competition, allowing us to re-establish the brand as the category leader.<br/><br/>

Below is just one of numerous examples from the campaign - the television commercial ‘Milk’ focusing on Mobile Mortgage Specialists:</p>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        Concept Testing: Likelihood to consider a TD Mortgage scored a 72% vs. a norm of 62%
    </li>
    <li>
        Business results: 139% of objectives and 165% vs. previous year
    </li>
    <li>
        According to Ipsos ASI Research, “Milk” had a Net Effectiveness Score (a composite measure of recall, branding and persuasion) of 351, one of the top tracked ads of the year
    </li>
</ul> 


<br/><br/>
<p>TD Canada Trust was number one in the category in advertising awareness and linkage despite being the number 3 spender a testament to the breakthrough quality and effectiveness of the campaign.<br/><br/>

Over the course of the campaign, TD had an enviable track record for growth, with revenue rising anywhere between 6-14% depending on the year. <br/><br/>
To cap it all off, TD Canada Trust was named the most valuable brand in Canada period (over brands like Tim Horton’s).
</p>