<div class="team"> 
    <img class="close-person-btn right" src="images/close-btn.png" alt="close"/>
    
     <!--//New Person-->
    <div class="person">
        <div class="overlay" style="background-color:rgba(250,185,38,0.5); position:absolute;"></div>
        <img class="person-photo" src="images/ricky.jpg" alt="ricky"/>
        <div class="person-holder">
            <div class="person-content">
                <div class="name-holder">
                    <h2 class="person-name">Ricky<br/>Jacobs</h2>
                    <p class="person-title">VP Management Director</p>
                </div>
            </div>
            <div class="bio-holder">
                <div class="bio-frame">
                    <div class="bio-box">
                        <div id="person-box1" class="bio-wrapper">
                            <h2 class="person-name">Ricky<br/>Jacobs</h2>
                            <p class="person-title">VP Managing Director (Business Leader for Capital One)</p>
                            <p class="person-desc">Ricky has had the great privilege to partner with leading credit card brands and financial service providers to enable business opportunities by bridging digital, brand and business to drive impact. He continues to be at the forefront of understanding how technology does, and will, influence how consumers and businesses interact to their mutual benefit. To help our clients’ achieve this he has assembled some of the best integrated digital thinkers in strategy, technology, and creative talent under one roof. True to his passion for digital, you will be hard pushed to find a piece of paper anywhere near him.</p>
                        </div>
                    </div>
                    <div id="person-box2" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Past<br/>Experience</h2>
                            <img src="images/ricky_logos.png" alt="logos"/>
                        </div>
                    </div>
                    <div id="person-box3" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Words<br/>To live By</h2>
                            <p class="quote">“Be Curious. Work hard. Win.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//End New Person-->
    
    <!--//New Person-->
    <div class="person">
        <div class="overlay" style="background-color:rgba(245,123,21,0.5); position:absolute;"></div>
        <img class="person-photo" src="images/flan.jpg" alt="ricky"/>
        <div class="person-holder">
            <div class="person-content">
                <div class="name-holder">
                    <h2 class="person-name">Jon<br/>Flannery</h2>
                    <p class="person-title">Chief Creative Officer</p>
                </div>
            </div>
            <div class="bio-holder">
                <div class="bio-frame">
                    <div class="bio-box">
                        <div id="person-box1" class="bio-wrapper">
                            <h2 class="person-name">Jon<br/>Flannery</h2>
                            <p class="person-title">Chief Creative Officer (Creative Director for Capital One)</p>
                            <p class="person-desc">After the Kmart Ship My Pants spot surpassed 21,000,000 views on YouTube Jon commented that perhaps he should have started making poop jokes earlier in his career. But then he is no ordinary creative director: change agent, Cannes lion winner, transplanted Chicagoan,  (mediocre) guitar player and mojo-maker.  All that said he is still very pragmatic about creativity and holds himself and the entire agency to this simple mantra: “Be about the work, not the working.  And know a good poop joke when you see one.</p>
                        </div>
                    </div>
                    <div id="person-box2" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Past<br/>Experience</h2>
                            <img src="images/flan_logos.png" alt="logos"/>
                        </div>
                    </div>
                    <div id="person-box3" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Words<br/>To live By</h2>
                            <p class="quote">“Be about the work, not the working.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//End New Person-->
    
    <!--//New Person-->
    <div class="person">
        <div class="overlay" style="background-color:rgba(220,30,26,0.5); position:absolute;"></div>
        <img class="person-photo" src="images/cynthia.jpg" alt="ricky"/>
        <div class="person-holder">
            <div class="person-content">
                <div class="name-holder">
                    <h2 class="person-name">Cynthia<br/>Roach</h2>
                    <p class="person-title">Group Account Director</p>
                </div>
            </div>
            <div class="bio-holder">
                <div class="bio-frame">
                    <div class="bio-box">
                        <div id="person-box1" class="bio-wrapper">
                            <h2 class="person-name">Cynthia<br/>Roach</h2>
                            <p class="person-title">Group Account Director (Integrated Account Leader for Capital One)</p>
                            <p class="person-desc">With a cool demeanour and unflappable style Cynthia gets it done. B2B, B2C, public sector, private sector, ads with babies, events with dogs, direct mail with polar bears, shoots with parcels: she has done it all. A master at leading integrated pieces of business, Cynthia is at her best when orchestrating complex solutions for clients. On time and on budget.  Consider it done.</p>
                        </div>
                    </div>
                    <div id="person-box2" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Past<br/>Experience</h2>
                            <img src="images/cynthia_logos.png" alt="logos"/>
                        </div>
                    </div>
                    <div id="person-box3" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Words<br/>To live By</h2>
                            <p class="quote">“To live without regrets is impossible. To regret not trying is the worst regret of all.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//End New Person-->
    
    <!--//New Person-->
    <div class="person">
        <div class="overlay" style="background-color:rgba(186,32,52,0.5); position:absolute;"></div>
        <img class="person-photo" src="images/nealle.jpg" alt="ricky"/>
        <div class="person-holder">
            <div class="person-content">
                <div class="name-holder">
                    <h2 class="person-name">Neale<br/>Halliday</h2>
                    <p class="person-title">Account Planner</p>
                </div>
            </div>
            <div class="bio-holder">
                <div class="bio-frame">
                    <div class="bio-box">
                        <div id="person-box1" class="bio-wrapper">
                            <h2 class="person-name">Neale<br/>Halliday</h2>
                            <p class="person-title">Account Planner (Lead Strategic Planner for Capital One)</p>
                            <p class="person-desc">Neale will often tell clients that “you only know your consumer if you know the world they live in.”  Technology, money, food, beer, soft drinks, chocolate, cars, communications, travel, entertainment, fast food, energy…  You name it, there are not many things in our everyday lives that Neale has not explored, prodded, dissected, sampled, and challenged, all in a quest to find insights that will make a difference.</p>
                        </div>
                    </div>
                    <div id="person-box2" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Past<br/>Experience</h2>
                            <img src="images/nealle_logos.png" alt="logos"/>
                        </div>
                    </div>
                    <div id="person-box3" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Words<br/>To live By</h2>
                            <p class="quote">“My preference is to work collaboratively with my partners both inside and outside the company.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--//New Person-->
    <div class="person">
        <div class="overlay" style="background-color:rgba(204,30,79,0.5); position:absolute;"></div>
        <img class="person-photo" src="images/curtis.jpg" alt="ricky"/>
        <div class="person-holder">
            <div class="person-content">
                <div class="name-holder">
                    <h2 class="person-name">Curtis<br/>Edwards</h2>
                    <p class="person-title">VP Creative Head Digital</p>
                </div>
            </div>
            <div class="bio-holder">
                <div class="bio-frame">
                    <div class="bio-box">
                        <div id="person-box1" class="bio-wrapper">
                            <h2 class="person-name">Curtis<br/>Edwards</h2>
                            <p class="person-title">VP Creative Head Digital (Digital Creative Director for Capital One)</p>
                            <p class="person-desc">Curtis is living proof that the world of digital is a world without borders (just ask him about the work he did for Visa).  He is a unique blend of left-brained thinker and right-brained creator.  He understands the art and science of connecting in a digital world: which is probably why he found himself locked away with Google design teams working on a new user-experience.</p>
                        </div>
                    </div>
                    <div id="person-box2" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Past<br/>Experience</h2>
                            <img src="images/curtis_logos.png" alt="logos"/>
                        </div>
                    </div>
                    <div id="person-box3" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Words<br/>To live By</h2>
                            <p class="quote">“There are no shortcuts to any place worth going.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//End New Person-->
    
    <!--//New Person-->
    <div class="person">
        <div class="overlay" style="background-color:rgba(204,30,79,0.5); position:absolute;"></div>
        <img class="person-photo" src="images/michael.jpg" alt="ricky"/>
        <div class="person-holder">
            <div class="person-content">
                <div class="name-holder">
                    <h2 class="person-name">Michael<br/>Watier</h2>
                    <p class="person-title">VP Client Services<br/>FCB Montreal </p>
                </div>
            </div>
            <div class="bio-holder">
                <div class="bio-frame">
                    <div class="bio-box">
                        <div id="person-box1" class="bio-wrapper">
                            <h2 class="person-name">Michael<br/>Watier</h2>
                            <p class="person-title">VP Client Services FCB Montreal (Quebec lead for Capital One)</p>
                            <p class="person-desc">Michael is the Quebec market personified: passionate, global, irreverent, very open-minded, humourous, and always up for a challenge.  Although he’s worked in a wide variety of countries and markets (Poland, England, the United States, and Germany to name a few) his love for what makes Quebec unique infuses all the work that he is responsible for.</p>
                        </div>
                    </div>
                    <div id="person-box2" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Past<br/>Experience</h2>
                            <img src="images/michael_logos.png" alt="logos"/>
                        </div>
                    </div>
                    <div id="person-box3" class="bio-box">
                        <div class="bio-wrapper">
                            <h2 class="person-name">Words<br/>To live By</h2>
                            <p class="quote">“If you don't have time to do it right – when will you have time to do it over?”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//End New Person-->
    
    
</div>