<h2 style="font-size:2.2;" class="case-title">Brand: Weightwatchers</h2>
<img style="width: 127px;margin-top: 10px;"class="case-logo" src="images/Weight-Watchers-logo.png" alt="logo"/>
<p class="case-sub-title"></p>
<ul class="bxslider">
    <li>
        <iframe src="//www.youtube.com/embed/8hTZF2WQBr4?rel=0&theme=light&showinfo=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </li>
</ul>
<p class="questions">Question 5</p>
<p class="callout">As outlined, television is the core medium for Capital One and we would like you to send us your best television creative work by web link. We are particularly interested in television work that changed consumer attitudes and built Brand Equity. Please outline the consumer insights that lead to the television advertising and describe the results.</p><br/>
<p><b>What’s suppressing our potential</b>:  Quebec consumers see Weight Watchers as a complicated "system" that demands time and sacrifice.
<br/><br/>
<b>Insight</b>:   The driving cultural belief in Quebec is that life should be about enrichment not depletion and attitudes to food reflect that. Whilst self-sacrifice plays well in English Canada, in Quebec Weight Watchers needs to frame their approach as a simple way of adding vitality and self-control to a healthy lifestyle, without having to sacrifice the foods you love.
<br/><br/>
<b>Strategic Idea</b>:  Enjoy your fresh start, with our help. 
<br/><br/>

<b>Results</b>:</p>
<ul class="case_dot" style="margin:0 0 0 40px; color:white;">
    <li>
        Based upon new subscriptions, the Quebec Weight Watchers franchise went from being the worst performing to the best, based upon new subscriptions. 
    </li>
    
</ul>